<form action="/add/search" id="add_search_form" method="post">
  <div class="row collapse" style="margin-top:30;">
    <div class="small-12 columns">
      <input type="text" name="name" id="name" placeholder="Name" style="width:100%;"/>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-12 columns">
      <textarea type="text" name="data" id="data" placeholder="Result" style="width:100%; height:200;"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <input type="submit" class="button" style="width: 100%;" value="Go"/>
    </div>
  </div>
</form>
