<div class="row">
  <div class="small-12 columns">
    <h2>Where to?</h2>
    <p>Please Select a destination from the dropdown below</p>
    <form action="/application/travel/train/booking" id="route_form" method="post">
      <select name="destination" form="route_form">
        <option value="London_Central">London, Central</option>
        <option value="Paris_Central">Paris, Central</option>
      </select>
    </div>
    <div class="small-12 columns">
      <h2>Where from?</h2>
      <p>Please Select a starting point from the dropdown below</p>
      <select name="start" form="route_form">
        <option value="London_Central">London, Central</option>
        <option value="Paris_Central">Paris, Central</option>
      </select>
      </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <input type="submit" class="button" style="width: 100%;" value="Go"/>
  </div>
</div>
</form>
