<div class="row collapse" style="margin-top: 50;">
  <div class="small-10 columns" style="height: 50;">
    <div class="panel">
      <span data-tooltip aria-haspopup="true" class="has-tip" title="Click to download, the texturepack that Momotv45 uses!"><h5>Momotv45's Texture Pack<h5></span>
    </div>
  </div>
  <div class="small-2 columns">
    <a href="/sam_Texture" class="button">Download</a>
  </div>
</div>
