<h1>These are your booked train journeys</h1>
<table bgcolor="#FFFFFF" role="grid" >
    <col>
        <% @journeys.each do |n| %>
          <tr bgcolor="#FFFFFF">
            <td bgcolor="#FFFFFF" >
              <div class="panel" style="width: inherit;">
                  <h5>The destination is: <%= n.destination %></h5>
                  <h5>From: <%= n.start %></h5>
                  <h5>In game, sign in at the station your journey starts at, and board your train! Enjoy your trip!!!</h5>
                  <h6>As soon as you depart (in game) this booking will be deleted, thats the only way to delete it!</h6>
              </div>
            </td>
          </tr>
        <% end %>
    </col>
</table>
