<html>
    <head>
          <meta charset="utf-8">
            <title>Gatecraft</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="My Blog">
            <meta name="author" content="Sam Mason">

            <link rel="stylesheet" href="/css/foundation.css">
            <script src="/js/vendor/modernizr.js"></script>

            <script src="js/vendor/jquery.js"></script>
            <script src="js/foundation/foundation.js"></script>
            <script src="js/foundation/foundation.dropdown.js"></script>

            <script src="js/all.js"></script>

            <style type="text/css">
                table {
                    border: none;
                    background-color: transparent;
                    max-width: 500px;
                }

                textarea {
                    resize: none;
                }
            </style>

            <script>
              document.write('<script src=js/vendor/' +
              ('__proto__' in {} ? 'zepto' : 'jquery') +
              '.js><\/script>')
              </script>
                <script src="../../assets/js/jquery.js"></script>
                <script src="js/foundation.min.js"></script>
                <script>
                $(document).foundation();
              </script>
                  <script src="../assets/js/templates/jquery.js"></script>
                  <script src="../assets/js/templates/foundation.js"></script>
              <script>
                  $(document).foundation();
                  var doc = document.documentElement;
                  doc.setAttribute('data-useragent', navigator.userAgent);
              </script>
    </head>


    <body>
        <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
          <ul class="title-area">
            <li class="name">
              <h1><a href="/">The Gatecraft Server</a></h1>
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="active"><a href="/login"><%= if session[:authorized_as] != nil then
                    session[:authorized_as]
                  else
                    "Login"
                  end
                 %></a></li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
              <li><a href="/downloads">Downloads</a></li>
            </ul>
          </section>
        </nav>

    <%= yield %>



      <script src="/js/vendor/jquery.js"></script>
      <script src="/js/foundation/foundation.js"></script>
      <script src="/js/foundation/foundation.reveal.js"></script>
      <script src="/js/foundation/foundation.dropdown.js"></script>
      <script src="/js/foundation/foundation.tooltip.js"></script
      <script src="/js/foundation/foundation.topbar.js"></script>
      <script src="/js/foundation/foundation.orbit.js"></script>
      <script src="js/foundation/foundation.offcanvas.js"></script>
      <script>$(document).foundation();</script>

    </body>
</html>
