<div class="row">

    <div class="small-12 columns">
      <h2>Who are you</h2>
      <p>Please Select a whitelisted user from the dropdown below</p>
      <form action="/login" id="userform" method="post">
        <select name="name" id="name" form="userform">
          <option value="Sam">Sam</option>
          <option value="Ben">Ben</option>
          <option value="Max">Max</option>
          <option value="James">James</option>
          <option value="Thomas">Thomas</option>
        </select>
      </div>
</div>


  <div class="row collapse">
    <div class="small-12 columns">
      <input type="password" name="password" id="password" placeholder="Password" style="width:100%;"/>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <input type="submit" class="button" style="width: 100%;" value="Go"/>
    </div>
  </div>
</form>
