<div class="row">

    <div class="small-12 columns">
      <h2>Who to?</h2>
      <p>Please Select a whitelisted user from the dropdown below</p>
      <form action="/application/Messaging" id="message_form" method="post">
        <select name="recipitent" form="message_form">
          <option value="Sam">Sam</option>
          <option value="Ben">Ben</option>
          <option value="Max">Max</option>
          <option value="James">James</option>
          <option value="Thomas">Thomas</option>
        </select>
      </div>
</div>


  <div class="row collapse">
    <div class="small-12 columns">
      <textarea type="textarea" name="message" placeholder="Message" style="width:100%; height: 200px;" form="message_form"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <input type="submit" class="button" style="width: 100%;" value="Go"/>
    </div>
  </div>
</form>
