<head>
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/component.css" />
</head>

<div class="row">
  <div class="large-12 columns">
    <h1>Welcome back: Sam</h1>
    <h3>Choose a function:</h3>
  </div>
</div>

<ul class="grid cs-style-3">
  <li>
    <figure style="background-color:25B7D3;">
      <a href="/application/Messaging"><img src="/img/Messaging.png" style="padding-top:100px;"></a>
      <figcaption>
        <h3>Messaging</h3>
        <a href="/application/Messaging">Take a look</a>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure style="background-color:E04F5F;">
      <a href="/application/sam/ICBMLaunch"><img src="/img/Missiles.png" style="padding-top:100px;"></a>
      <figcaption>
        <h3>Missile Launching</h3>
        <a href="/application/sam/ICBMLaunch">Take a look</a>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure style="background-color:E04F5F;">
      <a href="/application/sam/Reminders"><img src="/img/Reminders.png" style="padding-top:100px;"></a>
      <figcaption>
        <h3>Reminders</h3>
        <a href="/application/sam/Reminders">Take a look</a>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure style="background-color:25B7D3;">
      <a href="/application/sam/Settings"><img src="/img/Settings.png" style="padding-top:100px;"></a>
      <figcaption>
        <h3>Settings</h3>
        <a href="/application/sam/Settings">Take a look</a>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure style="background-color:25B7D3;">
      <a href="/add/search"><img src="/img/Search.png" style="padding-top:100px;"></a>
      <figcaption>
        <h3>Add HTTP search</h3>
        <a href="/add/search">Take a look</a>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure style="background-color:E04F5F;">
      <a href="/book/train"><img src="/img/Missiles.png" style="padding-top:100px;"></a>
      <figcaption>
        <h3>Book Train Journeys</h3>
        <a href="/book/train">Take a look</a>
      </figcaption>
    </figure>
  </li>
  <li>
    <figure style="background-color:E04F5F;">
      <a href="/view/journeys"><img src="/img/Missiles.png" style="padding-top:100px;"></a>
      <figcaption>
        <h3>View Train Journeys</h3>
        <a href="/view/journeys">Take a look</a>
      </figcaption>
    </figure>
  </li>
</ul>

<div class="row">
  <div class="small-12 columns">
    <a href="/logout" class="button" style="width:100%;">Logout</a>
  </div>
</div>
